<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-grid [fixed]="true" class="box">
      <ion-row>
        <ion-col>
          <ion-avatar style="margin: auto;">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-button shape="round" color="light"
              >Subir foto de perfil</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
