#container-photo {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    height: 50%;
}

ion-avatar{
    width:12rem !important;
    height : 12rem !important;
    max-width: 160px !important; 
    max-height: 160px !important;
}