<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../assets/images/logo.png">
  </div>
  <div class="home-button">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="light" expand="block"
          (click)="gotoEntomologistRegisterPage()">Ingreso Primera Vez</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="light" expand="block"
          (click)="gotoEntomologistRegisterPage()">Ingreso</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>